src/main/resources/prop/scriba_scf_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="book">
        <xs:annotation>
            <xs:documentation>
                This is the Scriba Contents File (SCF) that defines how and what to include in the ebooks generated by
                Scriba
                (Current ePub supported specification is the 2.0.1)
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="metadata">
                    <xs:annotation>
                        <xs:documentation>Metadatas are used for the ePub "metadata" elements</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="metaitem">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">

                                            <xs:attribute name="eletype" type="xs:string" use="required">
                                                <xs:annotation>
                                                    <xs:documentation>Type of the element ("dc" or "meta"): needed for
                                                        the ePub format. It's the namespace prefix
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>

                                            <xs:attribute name="elename" type="xs:string" use="required">
                                                <xs:annotation>
                                                    <xs:documentation>Name of the element (ex: "creator"): needed for
                                                        ePub.
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>


                                            <xs:attribute name="role" type="xs:string" use="optional">
                                                <xs:annotation>
                                                    <xs:documentation>Role in the ePub format (ex: "auth" for the
                                                        "dc:creator").
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>

                                            <xs:attribute name="id" type="xs:string" use="optional">
                                                <xs:annotation>
                                                    <xs:documentation>the id of the meta (used only for the
                                                        "dc:identifier"
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>


                                            <xs:attribute name="name" type="xs:string" use="optional">
                                                <xs:annotation>
                                                    <xs:documentation>the "name" of the meta only in the case "eletype"
                                                        is "meta"
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>

                                            <xs:attribute name="content" type="xs:string" use="optional">
                                                <xs:annotation>
                                                    <xs:documentation>the "content" of the meta only in the case
                                                        "eletype" is "meta"
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>

                                            <xs:attribute name="destination" type="xs:string" use="optional">
                                                <xs:annotation>
                                                    <xs:documentation>destination of the meta: opf, ncx, plugin
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>

                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="contents">
                    <xs:annotation>
                        <xs:documentation>The real contents to point on</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="content">
                                <xs:annotation>
                                    <xs:documentation>A single content</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="packageId" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>The Id to identify the single content</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>

                                    <xs:attribute name="packagePath" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>The path into the final Package: this corresponds to the
                                                path in the TOC
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="packageFile" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>The name of the file to save into the final package
                                            </xs:documentation>
                                        </xs:annotation>

                                    </xs:attribute>
                                    <xs:attribute name="contentMediaType" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>The Mimetype of the file to include and pointed by the
                                                "contentUrl"
                                            </xs:documentation>
                                        </xs:annotation>

                                    </xs:attribute>
                                    <xs:attribute name="contentUrl" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>The file to download and pointed by an URL (HTTP, FS, etc.
                                                resource)
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="cover" type="xs:boolean" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>The current content is the cover</xs:documentation>
                                        </xs:annotation>

                                    </xs:attribute>
                                    <xs:attribute name="isInSpine" type="xs:boolean" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Includes this content in the Spine of the book
                                            </xs:documentation>
                                        </xs:annotation>

                                    </xs:attribute>
                                    <xs:attribute name="tocName" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>The name of the content in the TOC</xs:documentation>
                                        </xs:annotation>

                                    </xs:attribute>
                                    <xs:attribute name="plugin" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>The logic Java class (with package) that elaborates the
                                                current content
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="pdfToHtml" type="xs:boolean" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>If the content's Mimetype is PDF then transforms it to
                                                HTML (not in images)
                                            </xs:documentation>
                                        </xs:annotation>

                                    </xs:attribute>
                                    <xs:attribute name="isNeededTidy" type="xs:boolean" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Textual content's content will be managed by JTidy
                                            </xs:documentation>
                                        </xs:annotation>

                                    </xs:attribute>
                                    <xs:attribute name="isNeededXsl" type="xs:boolean" use="optional">
                                        <xs:annotation>
                                            <xs:documentation>Textual content's content will be managed by the default
                                                XSLy
                                            </xs:documentation>
                                        </xs:annotation>

                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="tocId" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>It defines a string ID that points to a "content" with the same
                                    "packagedId" string. It is the toc for ePub Format
                                </xs:documentation>
                            </xs:annotation>

                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:decimal" use="required">
                <xs:annotation>
                    <xs:documentation>This is the version of Scriba Contents File (SCF)</xs:documentation>
                </xs:annotation>


            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>